apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3-management-alpine
          ports:
            - containerPort: 5672
            - containerPort: 15672
          resources:
            limits:
              memory: "1024Mi"
              cpu: "300m"
            requests:
              memory: "256Mi"
              cpu: "100m"
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: "rabbit"
            - name: RABBITMQ_DEFAULT_PASS
              value: "s@cr3t"
          volumeMounts:
            - name: rabbitmq-data
              mountPath: /var/lib/rabbitmq
      volumes:
        - name: rabbitmq-data
          persistentVolumeClaim:
            claimName: rabbitmq-pvc