apiVersion: apps/v1
kind: Deployment
metadata:
  name: episode-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: episode-api
  template:
    metadata:
      labels:
        app: episode-api
    spec:
      containers:
        - name: episode-api
          image: episode-api-service:latest
          imagePullPolicy: Always
          resources:
            limits:
              memory: "512Mi"
              cpu: "300m"
            requests:
              memory: "256Mi"
              cpu: "100m"
          ports:
            - containerPort: 3000
          env:
            - name: EXPRESS_HOST
              value: "0.0.0.0"
            - name: EXPRESS_PORT
              value: "3000"
            - name: MONGO_HOST
              value: "mongodb-service" 
            - name: MONGO_PORT
              value: "27017"
            - name: MONGO_DB
              value: "anime_db" 
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: username
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: password
            - name: MONGO_URI
              value: "mongodb://$(MONGO_USER):$(MONGO_PASSWORD)@$(MONGO_HOST):$(MONGO_PORT)/$(MONGO_DB)?authSource=admin"

            - name: ANIME_API_URL
              value: "http://anime-api-service:8080/api/anime"
          readinessProbe:
            httpGet:
              path: /api/health
              port: 3000
              initialDelaySeconds: 10
              periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 20